.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #232936;
}

.first-note {
  cursor: pointer;
  background-color: #303642;
  border: none;
  color: whitesmoke;
  border-radius: 3px;
  padding: 1rem;
}

.first-note:hover {
  opacity: 0.9;
}
